/*** Body**/
html {
    height: 100%;
    width: 100%;

}



body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    padding-bottom: 70px;
}


/***** PAGES**/


/* padded section */



.pad-section {
    padding: 50px 0;
}

.pad-section img {
    width: 100%;
}


/***navabr*/

.flag {
    width: 55px;
    height: 23px;
    background:url(flags.png) no-repeat;
    opacity: 0.6;
}

/*
.flag.flag-de {background-position: -32px 0}
.flag.flag-en {background-position: -32px 0}
*/


.container, .navbar{
    font-family: 'Slabo 27px', serif;

}

.navbar-nav>li.exhibit a:hover {
    color: #777!important;
}

.navbar-nav>li.exhibit a {
    font-size: 1em!important;
}
.navbar-bottom{
    min-height: 20px!important;
    margin-bottom: 0px!important;
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;

}

.navbar-brand {
    font-size: 2.5em!important;

}

.container-nav {
    margin-top: 2%;
}

#home {
    min-height: 50vh;
    position: relative;
    background-color: white;
    padding: 0;
    margin: 0;

}

.navbar-fixed-bottom{
    height: 5%!important;
    opacity: 0.5;
    position:static!important;
    bottom:0;
}


.panel-home{
    z-index: 12!important;
    position: absolute;
    bottom: 0px;
    width: 100%;
    margin-bottom: 0;
    border: none!important;
    word-break:keep-all;
    margin-bottom: 0;
}

.panel{
    margin-bottom: 0!important;
}



/**about**/
#text{
    margin-top: 10%;
}
.about-container{
    margin-top: 5%;
}

#fotoobjecten {

    position: relative;
    z-index: 2;
    min-height: 100vh;
    position: relative;
    background-color: white;
    margin-left: 0;
    margin-right: 0;
    padding-top: 4%;

}

#picture{
    background: url(../images/Ausstellungsansicht_BS2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    /*    max-width: 100vh;*/
    overflow-x: hidden;
    position: relative;
    z-index: 10;
}

.text-block-about {
    background-color: rgba(225, 225, 225, 0.5)!important;
    font-size: 1.2em;
}

.thumbnail-about{
    border-color: white!important;
}

.header-about {
    background-color: rgba(225, 225, 225, 0.8)!important;
}

.panel-body a {
    color: darkblue!important;
}


.qoute{
    font-size: 0.8em;
}

.bio{
    font-size: 0.9em;
}

.kunstmagazin-link {
    color: black;
}

.container-about {
    padding-top: 8%;
    /*    margin: 0;*/
}

.img-about {
    height: 100%;
}

.text-center {
    padding-left: 10%;
}

.text-lead {
    text-align: left;
    height: 100%;
    overflow: scroll;
}

.lead {
    padding-bottom: 5px;
    margin-bottom: 10px!important;
}


/***services**/

a {
    color: lightblue;
}

a:hover {
    color: white;
}


/*+++++++++++++Thumbnails+*/

.thumbnail-wrap {
    /* width: 102px;*/
    padding-bottom: 10px;
}


/*++++++++++++++++parallax*/

.pad-section {
    padding: 10px 0;
    margin-left: 0;
    margin-right: 0;
}



header,
.full-width {
    width: 100%;
    background: #ccc;
}

.wrap {
    width: 80%;
    max-width: 24em;
    margin: 0 auto;
    padding: 0.25em 0.625em;
}

#photos img {
    position: absolute;
}

#photos {
    min-height: 100vh;
    overflow: hidden!important;
    position: relative;
}

img.active {
    z-index: 2;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

img.non_active {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-height: 80%;
    width: auto!important;
    /*
    */
    display: none;
}


/*
z-index: 2;
top:50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
-o-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
position:absolute;
max-height: 80%;
width: auto!important;
display:none;



}
*/

.text-vcenter h1 {
    font-size: 4.5em;
    font-weight: 700;
    margin: 0;
    padding: 0;
}


/* additional sections */

.kunstmagazin:hover {
    color: #4A3146;
}




/**Wall-Objects***********************************************************************************************************/



/** contact *****/

#contact {

    position: relative;

    z-index: 2;
    background-color:#4d4d4d;
    color: black;
    margin-left: 0;
    margin-right: 0;
    padding-top: 2%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;

}


#contact .glyphicon {
    border: 0px solid #FFFFFF;
    border-radius: 50%;
    display: inline-block;
    font-size: 60px;
    height: 200px;
    line-height: 140px;
    text-align: center;
    vertical-align: middle;
    width: 200px;
    margin-left: 0;
    margin-right: 0;
}

.contact-container{
    background-color: transparent!important;
    border-color:black!important;
}
.contact-container p, .contact-container h4{
    color: white;
}

.contact-container h3{
    color:black;
}
.text-contact {
    text-align: center;
}

.main-pic-div {
    /*    display: inline-block;*/
    position: fixed;
    width: 80%;
    height: 100vh;
    right: 0;
    top: 3%;
    z-index: 0;
}



.atag {
    /*    z-index:20!;*/
    display:inline-block;
}




.main-pic-div span img {
    /*    display: inherit;*/

    width: 50%;
    height: auto;
    position: absolute;
    /*    margin-top: auto;*/
    /*    margin-top: auto;*/
    top: 53%;
    /*right: 0;*/
    left: 50%;
    bottom: 0;
    /*   margin-left:auto;
    margin-right: 30%;*/
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}



#artworks {
    width: 100%;
    padding-top: 0!Important;
    padding-bottom: 0!Important;
}

.bg-color-information {
    /*    background-color: gainsboro;*/
    background-color: darkgray;
    height: 100%;
    width: 100%;
    z-index: -20;
    position: fixed;
    top: 2%;
}

.popover {
    opacity: 0.7!important;
    z-index: 10;
}

.thumbnail-container {
    margin-left: 0px!important;
    padding-left: 0!important;
}

.thumbnail-wrap{
    padding-bottom: 0;
}
#thumbs {
    padding-left: 0px;
    opacity: 0.4;
}

#artworks .panel {
    opacity: 0.85;
}

#google_map {
    height: 500px;
}

footer {

    position: static;
    bottom: 0;
    padding: 0;
    bottom: 0px;
    margin: 0!important;
}

footer .glyphicon {
    color: #333333;
    font-size: 60px;
}

footer .glyphicon:hover {
    color: #306d9f;
}

.imprint:link {
    color: black;
}

.imprint:hover {
    color: #306d9f;
}

.imprint:visited {
    color: darkgray;
}

.nav-footer {
    max-width: 100%!important;
    margin: 0;
}

.webdesign {
    color: white;
}


/*
.imprint a{
color: white!important;

}
*/


/*+++++++++++++++++++end paralax*/

.navbar-top {
    margin-bottom: 0!important;
    min-height: 110px!important;
}
/***text**/

.text-heading {
    background-color: white!important;
}

div.lead {
    /*
    max-height: 600px;
    overflow:scroll!important;
    */
    font-size: 1em;
    text-align: left;
}

#austellungen{
    position: relative;
    z-index: 2;

    background-color: white;
    padding-top: 2%;
}

table.borderless td,table.borderless th{
    border: none !important;
}

#bio {
    position: relative;
    z-index: 2;

    background-color: white;
    padding-top: 2%;
    padding-bottom: 10px!important;
    margin-bottom: 0!important;
}

#actuelle {
    position: relative;
    z-index: 2;
    background-color: lightgrey;
    color: white;
}

.austel-panel{
    min-height: 100vh;
}

.text-bio{
    color: black;
    text-align: center;
}

.bio-panel{
    margin-bottom: 10%!important;
}

td.jahr {
    width: 10%;
    height: 10px;
}

.jahr {
    padding: 7px 0 0 0;
    font-size: 12px;
    line-height: 14px;
    vertical-align: top;
    text-align: left;
}

td.vita {
    /*    width: 435px;*/
    height: 10px;
}

.vita {
    padding: 7px 0 0 0;
    font-size: 12px;
    line-height: 14px;
    vertical-align: top;
    text-align: left;
}
/**impressum**/

.impressum {
    text-align: left;
}

#impressum {
    margin-top: 8%;
}

/*
#impressum {
padding:20px;
}
*/

/***Aktuelle**/

.actualle-panel{
    /*background-color: transparent!important;*/
    margin-bottom: 5%;
}
/*****Austelungen****/

#austellungen{
    min-height: 60vh;
}

/***Bio **/



/****footer******/

/****Social Medium Facebook & Linkedin******/


.btn-facebook {
    color: #fff;
    background-color: #4C67A1;
    margin-top: 2px;

}
.btn-facebook:hover {
    color: #fff;
    background-color: #405D9B;
}
.btn-facebook:focus {
    color: #fff;
}

.btn-linkedin {
    background: #0e76a8;
    border-radius: 0;
    color: #fff;
    margin-top: 2px;
}
.btn-linkedin:link, .btn-linkedin:visited {
    color: #fff
}
.btn-linkedin:active, .btn-linkedin:hover {
    background: #0b6087;
    color: #fff
}

.smedia{
    /*    margin-top: 5%;*/
    text-align: left;
}



/*** small project**/

.project-small{
    padding-left: 0;
    padding-right: 0;
}


